/**********BOX-MODEL, CLEARFIX, CLEAR***********/
/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  /* Clear */
  .clear {
      clear: both;
  }
  
/************REPEATED STYLES****************/

/*************FONTS & SIZES*****************/
:root {
    --roboto: "Roboto", sans-serif;
    --space-mono: "Space Mono", monospace;
    --10px: 0.625rem;
    --12px: 0.75rem;
    --14px: 0.875rem;
    --16px: 1rem;
    --18px: 1.125rem;
    --20px: 1.25rem;
    --22px: 1.375rem;
    --24px: 1.5rem;
    --30px: 1.875rem;
    --40px: 2.5rem;
    --80px: 5rem;
}

.bold {
    font-weight: bold;
}


/*************HEADER*****************/
/*************      *****************/

/*? COLOR-CONTAINER*/
.color-container {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(248,176,22,1) 100%);
    border-radius: 25px 25px 0 0;     
}

header {
    font: var(--12px) var(--space-mono); 
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0.7rem 1.875rem;
}

header nav {
    display: none;
}

/*Style the navigation menu*/
header li {
    list-style-type: none;
    text-align: right;
}

header a {
    margin-top: var(--22px);
    color: white;
    padding: 0 var(--16px);
    text-decoration: none;
    font-size: var(--30px);
    display: block;
  }

  /* Style the hamburger menu */
header a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 7%;
  }

  /* Add a wheat background color on mouse-over */
header a:hover {
    color: rgb(242, 215, 164);
    cursor: pointer;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    color: white;
  }

  /*^ HEADER, LARGER SCREENS */

  @media (min-width:800px) {

    /*Properties for larger screens*/
    header .logo {
        float: left;
        width: 33.333%;
    }

    header nav {
        width: 66.66%;
        float: left;
        margin-top: 20px;
        display: block;
    }

    header li {
        display: inline;
        font-size: var(--14px);
    }

    header a.icon {
        display: none;
      }

      header a {
        display: inline;
        font-size: var(--20px)
      }
}



/*************HOME*****************/
/*************      *****************/

.home {
    padding: 3.125rem;
    height: 100vh;
}

.home-content {
    padding-top: 6.25rem;
    font: var(--40px) var(--space-mono);
    text-align: center;
    color: rgba(246, 235, 242, 0.817);
}

#typewriter{
    display: inline-block;
    overflow: wrap;
    white-space: initial;
    margin: 0 auto;
    animation: typing 3s steps(40, end);
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100;
    }
}

  /*^ HOME, LARGER SCREENS */

@media (min-width:800px) {

    /*Properties for larger screens*/
    .home-content{
        padding-top: 40px;
        font-size: 80px;
    }
}
    



/*************ABOUT US*****************/
/*************      *****************/

.about-us {
    background-color: seashell;
    border-radius: 0 0 25px 25px;
    font-family: var(--space-mono);
}

/* ABOUT US DESC 1 */
/* WHO ARE WE? [...] */
.about-us-desc-1 {
    margin: auto;
    width: 75%;
    text-align: center;
    padding: 2rem 0;
}

.about-us-desc-1 h2, .about-us-desc-3 h2 {
    font: bold italic var(--40px) var(--roboto);
    text-transform: uppercase;
    color: #f8b016;
    padding-top: 3rem;
}

.about-us-desc-1 .about-us-1 {
    font:  bold var(--30px) var(--space-mono);
    line-height: 45px;
    color: rgb(244, 193, 99);
}

.about-us-desc-1 p + p {
    font-family: var(--space-mono);
    border-bottom: 3px dotted rgba(254, 149, 28, 0.342);
}

.about-us .emoji {
    font-size: 80px;
    padding-bottom: 2rem;
}

/*todo: FIX EXCESSIVE PADDING ABOVE PARAGRAPHS */
/* ABOUT US DESC 2 */
/* SMALL PARAGRAPH DESCRIPTIONS UNDERNEATH DOTTED LINE */
.about-us-desc-2 {
    padding-top: 0;
    margin: 0;
}

.about-us-2, .about-us-3, .about-us-4 {
    font-size: var(--20px);
    padding: 0 4rem 1rem 4rem;
}

.about-us-4 {
    padding-bottom: 8rem;
    border-bottom: 3px dotted rgba(254, 149, 28, 0.342);
}

/* ABOUT US DESC 3 */
.about-us-desc-3 {
    padding: 2rem 0 4rem 0;
}

 .about-us-5, .about-us-5-button {
    font-size: var(--24px);
    text-align: center;
    padding-bottom: 2rem;
}

.about-us-5-button a {
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    color:white;
    background: #f8b016;
}

.about-us-5-button a:hover {
    background: rgba(241, 183, 84, 0.482);
}

.about-us img {
    width: 100%;
    border-radius: 20px;
}
